/* You can add global styles to this file, and also import other style files */
@import "./custom-theme";

@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    font-family: 'Quicksand', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

.primary-color {
    color: mat-color($custom-theme-primary) !important;
}

.accent-color {
    color: mat-color($custom-theme-accent) !important;
}

.warn-color {
    color: mat-color($custom-theme-warn) !important;
}