<form class="search-form">
  <mat-form-field class="search-full-width" >
    <input matInput placeholder="Search" [(ngModel)]="searchTerm" name="search">
  </mat-form-field>
</form>
<div *ngIf="(posts$ | async) as posts">
  <div *ngFor="let post of filterBySearchTerm(posts)">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>{{ post.date | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ post.content }}</p>
          <p>Tags: <span *ngFor="let tag of post.tags, let last = last">{{tag}}<span *ngIf="!last">, </span></span></p>
        </mat-card-content>
      </mat-card>
  </div>
  <!-- <pre>{{ posts | json }}</pre> -->
</div>
