<form class="search-form">
  <mat-form-field class="search-full-width" >
    <input matInput placeholder="Search" [(ngModel)]="searchTerm" name="search">
  </mat-form-field>
</form>
<div *ngIf="(projects$ | async) as projects">
  <div *ngFor="let project of filterBySearchTerm(projects)">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{ project.title }}</mat-card-title>
          <mat-card-subtitle><span *ngFor="let language of project.languages, let last = last">{{language}}<span *ngIf="!last">, </span></span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.description }}</p>
          <p>Resources:
            <span *ngFor="let resource of project.resources, let last = last">
              <a [href]="resource.value">{{resource.key}}</a>
              <span *ngIf="!last">, </span>
          </span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="pointer" mat-raised-button *ngIf="project.source" color="primary">View Source</button>
          <button class="pointer" mat-raised-button *ngIf="project.demo" color="primary">View Demo</button>
        </mat-card-actions>
      </mat-card>
  </div>
  <!-- <pre>{{ projects | json }}</pre> -->
</div>
